# Top-most EditorConfig file
root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.{json,lock,md,nix}]
indent_style = space

[*.{json,lock,md,nix}]
indent_size = 2

[*.json]
insert_final_newline = unset

[*.md]
trim_trailing_whitespace = true
